{% extends "basic.html" %}
{% block welcome %}
	{% if user_name %}
		<p>Welcome, {{user_name}}!</p>
	{% endif %}
{% endblock %}

{% block main %}
  <div class="logo">
    <img src="static/images/controller-Photoroom.png" alt="logo" class="background">
    <div class="text_logo"><h1>GAME ZONE</h1>
    <h2>ТВІЙ СПИСОК УЛЮБЛЕНИХ ІГОР</h2>
    </div>
  </div>
  <hr>
  <div class="game-block" id="ultrakill">
    <img src="static/images/ultrakill-pc-steam-cdkeys.webp" alt="Ultrakill"></img>
    <div class="text-block"><p><b>Ultrakill</b>— відеогра-шутер від першої особи, розроблена Арсі «Хакіта» Патала (англ. Arsi "Hakita" Patala) та опублікована <b>New Blood Interactive.</b> <br>Випущено для раннього доступу у Steam для Microsoft Windows 3 вересня 2020 року.У грі використовується графіка в ретро-стилі та можливості руху, подібні до шутерів від першої особи 1990-х років, таких як Quake і Doom.</p>
    <div class="plot"><p><b>Сюжет</b><br>В Ultrakill гравець керує V1, роботом (англ. machine), який використовує кров як джерело палива. Після вимирання людства гравець спускається крізь шари пекла, щоб зібрати кров різних істот у пеклі. По дорозі V1 стикається з демонами, нежиттю, машинами, які також шукають кров, і ангелами. V1 також бореться з багатьма босами, включно з V2, який є пізніше створеною альтернативною версією V1; Король Мінос (і Мінос Прайм), переможений король шару Хіть (англ. Lust); і Габрієль (англ.Gabriel) (названий на честь архангела Гавриїла), верховного ангела, посланого зупинити V1.</p>
    </div>
    </div>
</div>
  <div class="link-block">Посилання на офіційний сайт гри <a href="https://x.com/ultrakillgame">Utrakill</a></div>
  <div class="game-block" id="nfs">
    <img src=" static/images/Need for Speed Most Wanted (2005).jpg" alt="Need for Speed Most Wanted">
  <div class="text-block"><p><b>Need for Speed: Most Wanted</b> — відеогра у жанрі перегони, 19-та гра серії Need for Speed, яка вийшла 30 жовтня 2012 року.Розробником гри є британська компанія Criterion Games, а видавцем компанія Electronic Arts. Офіційний анонс відбувся 4 червня 2012 року під час прес-конференції EA на E3 2012.</p>
  <div class="plot"><p><b>Сюжет</b> <br>Need for Speed: Most Wanted розповідає про гонщика, який приїжджає до Рокпорту та кидає виклик «Чорному списку» — групі найкращих вуличних гонщиків міста. Його мета - перемогти всіх і стати гонщиком, що найбільш розшукується, але його BMW M3 GTR відбирає лідер "Чорного списку" Розор, а головного героя підставляють і заарештовують. Вибравшись із в'язниці завдяки відсутності доказів, він починає сходження за "Чорним списком", щоб помститися та повернути свій автомобіль.</p></div>
  </div>
  </div>
  <div class="link-block">Посилання на офіційний сайт гри <a href="https://nfsmwo.com">Need for Spead Most Wanted</a></div>
<div class="game-block" id="deltarune">
    <img src="static/images/deltarune.webp" alt="Deltarune">
  <div class="text-block"><p><b>Deltarune</b> - рольова відеогра, створена інді-розробником Тобі Фоксом. Гравець керує людиною на ім'я Кріс, що живе в місті, населеному монстрами. Кріс разом зі своєю однокласницею Сьюзі випадково потрапляє до Темного Світу, де зустрічає принца пітьми Ральзея, який розповідає, що вони герої, яким судилося врятувати світ.</p>
  <div class="plot"><p><b>Сюжет</b><br>Deltarune — це спіноф Undertale, утім події обох ігор відбуваються в цілком інших світах. Тобі Фокс повідомив, що Deltarune — це інший світ з іншими персонажами, які прожили інше життя.
  <br><p><b>Розділ 1 - Початок</b><br>Гра починається з того, що гравцеві пропонується створити аватар, але "втілення" врешті-решт відкидають, оскільки "ніхто не обирає, ким йому бути в цьому світі". Натомість гравцеві надається контроль над людським підлітком, учнем на ім'я Кріс, головним героєм, що живе в містечку монстрів зі своєю названою матір'ю Торіель, яка також є монстром. Головний герой приїжджає до школи, де, на прохання вчительки Альфіс, йде разом зі Сьюзі по крейду. Втім, темрява в коморі затягує обох до Темного Світу.</p></div>
  <br><p><b>Розділ 2 - Кіберсвіт</b><br>Кріс та Сьюзі опиняються в іншому Темному світі. В кінці вони доходять до каруселі з чашками. Також поряд буде Гакер, якого можна рекрутувати до міста, зібравши 3 сині галочки. Якщо їх зібрати, то він в Маєтку Королеви допоможе гравцеві відкрити доступ до секретного проходу, що веде до закинутого Підвалу, де надалі за певних обставин відбудеться битва із секретним босом.</p>
</div>
  </div>
  <div class="link-block">Посилання на офіційний сайт гри <a href="https://deltarune.com">Deltarune</a></div>
  <div class="game-block" id="Fortnite">
    <img src="static/images/MV5BMTZlMmIxM2EtN2Y4Zi00M2ZhLTk3NzgtNjJmZTU0MTQ3YjcwXkEyXkFqcGc@._V1_.jpg" alt="Fortnite">
    <div class="text-block"><p><b>Fortnite</b>— онлайнова відеогра та ігрова платформа, розроблена американською компанією Epic Games і випущена у 2017 році. Гра отримала надзвичайну популярність через режим «Battle Royale», який у 2018—2019 роках перетворився в культурний феномен; у березні 2019 року у нього грали понад 250 мільйонів гравців, а сам режим отримав безліч нагород від різних премій.</p>
      <div class="plot"><p><b>Сюжет</b><br>Сюжет Fortnite — це епічна наукова фантастика про мультивсесвіт, подорожі в часі та боротьбу за таємничу енергію. Головна мета гри — не лише перемога в «Королівській битві», а й виживання в «Петлі».<br>Протягом розділів гри острів постійно змінюється через катаклізми, війни фракцій, атаки прибульців та часові стрибки:<br><p><br>Розділ 1-3: Руйнування реальності, формування Ордену та протистояння «Сімки» з Останньою Реальністю. Поява метеоритів та кубів (Кевін).</p><br><p>Розділ 4-5: Перезавантаження островів, битви в античних світах (Давня Греція) та постапокаліптичних пустках (Пустка). Сюжет розкриває містичні артефакти, як-от Скринька Пандори.</p>
      </div>
    </div>
  </div>
  <div class="link-block">Посилання на офіційний сайт гри <a href="https://store.epicgames.com/p/fortnite?lang=uk">Fortnite</a></div>
  <div class="game-block" id="Minecraft">
    <img src="static/images/Minecraft_Cover_Art.png" alt="Minecraft">
    <div class="text-block"><p><b>Minecraft</b>— відеогра в жанрі пісочниці у відкритому світі з поглядом від першої/третьої особи, розроблена та видана Mojang Studios у 2011 році. Гра започаткувала однойменну серію, для всіх творів якої характерний мінімалістичний кубічний дизайн. Гра розроблена у 2009 році шведським програмістом Маркусом Перссоном, відомим також як «Notch», і надалі розробляється заснованою Маркусом Перссоном компанією Mojang, котра належить Microsoft Studios. Minecraft належить до ігор з найширшою аудиторією і визнана найпродаванішою відеогрою в історії.</p>
      <div class="plot"><p><b>Сюжет</b><br>Minecraft дає в розпорядження гравцеві тривимірний процедурно генерований світ, що складається з кубічних блоків, які можливо використовувати на свій розсуд. Блоки поділяються на матеріали та об'єкти, котрі не обов'язково мають видиму кубічну форму, але займають умовний один кубик. <br>Гра не ставить перед гравцем однозначних цілей, але пропонує безліч можливостей і занять: досліджувати світ, створювати різноманітні споруди й предмети, битися з різними супротивниками. <br>Можлива як одноосібна гра, так і багатокористувацька, коли багато гравців взаємодіють в межах одного світу.</p>
      </div>
    </div>
  </div>
  <div class="link-block">Посилання на офіційний сайт гри <a href="https://www.minecraft.net/en-us">Minecraft</a></div>
  <div class="game-block" id="Hollow">
    <img src="static/images/MV5BMGIyYmJmZDgtOWQ1Ny00NDFiLTk2OTgtM2Q2ZWQ4OWIxZjg3XkEyXkFqcGc@._V1_.jpg" alt="Hollow knight"></img>
    <div class="text-block"><p><b>Hollow knight</b> — це культова відеогра в жанрі метроїдванія, розроблена та випущена австралійською інді-студією Team Cherry. У ролі загадкового мовчазного жука-лицаря ви досліджуєте величезне, похмуре та красиве підземне королівство Халлоунест (Hallownest), б'єтеся з монстрами та розгадуєте стародавні таємниці.</p>
    <div class="plot"><p><b>Сюжет</b><br>Гра розповідає про занепале підземне королівство Святогніздя (Hallownest), спустошене загадковою Чумою.<br>Головний герой — безіменний жук-мандрівник (Лицар), який спускається в руїни, щоб розгадати таємницю пошесті та зупинити її. Історія подається непрямо, а через фрагменти минулого.<br>Гра від малої команди програмістів з лише 3 чоловік "Team Cherry", де ти менше жука, все живе і не живе хоче тебе вбити, містична історія, і буквальні боги які, теж хочуть тебе вбити! Також є багато смішних моментів як і страшних.</p>
    </div>
    </div>
</div>
  <div class="link-block">Посилання на офіційний сайт гри <a href="https://www.hollowknight.com/">Hollow knight</a></div><hr>
    <a href="#" class="top-button">↑</a>
{% endblock %}